<%- include('includes/_nav_coordinador.ejs') %>
<%- include('includes/_header_coordinador.ejs') %>

<main class="bg-grey flex-grow-1 rounded-5 p-0 d-flex flex-column alumno-scroll" style="height: 100vh;">
  <div class="d-flex justify-content-between">
    <div class="mb-4">
      <h1 class="ms-3 mt-2">Alumnos</h1>
      <div style="border-bottom: 3px solid #84251C; width: 13rem; margin-top: -10px;"></div>
    </div>
    <form action="/coordinador/alumnos/sincronizar" method="POST">
      <button type="submit" class="btn btn-primary d-flex align-items-center gap-2 rounded-pill px-3 py-2 me-5 mt-3" 
      style="background-color: #84251C; border: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
        </svg>
        Sincronizar Alumnos
      </button>
    </form>
  </div>
  <!-- Si el msg string no es null, muestra un mensaje del resultado de la operación -->
  <% if (msg) { %>
    <div class="modal fade" id="msgModal" tabindex="-1" aria-labelledby="msgModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content align-items-center rounded-5">
          <div class="modal-header border border-0">
            <h5 class="modal-title ivd-text-red" id="msgModalLabel">Sincronizar Alumnos</h5>
          </div>
          <div class="modal-body bg-grey rounded-5 text-center px-5">
            <%- msg %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn ivd-bg-red text-white rounded-5" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  <% } %>

  <div class="d-flex align-items-center justify-content-between me-5 mb-3 flex-wrap">
    <h3 class="ms-5 mb-0 text-decoration-underline ivd-text-red">Regulares</h3>
    <div class="d-flex align-items-center flex-grow-1" style="max-width: 200px;">
      <input class="form-control rounded-pill" type="search" placeholder="Buscar alumno" aria-label="Search"
            style="background-image:url('/images/search.svg');
                    background-repeat:no-repeat;
                    background-position: 1rem center; 
                    padding-left: 3rem; 
                    font-size: 1rem;
                    width: 100%;
                    border: 1px solid #84251C;">
    </div>
  </div>
  <div class="table-responsive mx-5 mb-3 rounded-5 flex-grow-1" style="min-height: 45vh; overflow: auto;  background-color: white;">
    <table class="table table-hover" style="min-width: 800px; width: 100%;">
      <thead class="table-light">
        <tr>
          <th scope="col" style="width: 22.5%; min-width: 100px;" class="text-center align-middle">Matricula</th>
          <th scope="col" style="width: 22.5%; min-width: 100px;" class="text-center align-middle">Nombre</th>
          <th scope="col" style="width: 22.5%; min-width: 100px;" class="text-center align-middle">Apellidos</th>
          <th scope="col" style="width: 22.5%; min-width: 100px;" class="text-center align-middle">Correo Institucional</th>
          <th scope="col" style="width: 4%; min-width: 25px;"></th>
          <th scope="col" style="width: 6%; min-width: 25px;"></th>
        </tr>
      </thead>
      <tbody>
        <% for (let alumnoRegular of alumnosRegulares) { %>
          <tr>
            <td class="text-center align-middle"><%= alumnoRegular.ivd_id %></td>
            <td class="text-center align-middle"><%= alumnoRegular.nombre %></td>
            <td class="text-center align-middle"><%= alumnoRegular.primer_apellido %> <%= alumnoRegular.segundo_apellido|| '' %></td>
            <td class="text-center align-middle"><%= alumnoRegular.correo_institucional %></td>
            <td class="text-center align-middle">
              <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                style="width: 1.5rem; height: 1.5rem; border-radius: 50%; background-color: #84251c; color: white; border: none;"
                data-bs-toggle="modal" 
                data-bs-target="#viewModal"
                data-alumno-id="<%= alumnoRegular.ivd_id %>"
                data-alumno-nombre="<%= alumnoRegular.nombre %> <%= alumnoRegular.primer_apellido %> <%= alumnoRegular.segundo_apellido|| '' %>">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                  </svg>
              </button>
            </td>
            <td class="text-center align-middle">
              <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                style="width: 1.5rem; height: 1.5rem; border-radius: 50%; background-color: #84251c; color: white; border: none;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                  </svg>
              </button>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-between me-5 mb-3 flex-wrap">
    <h3 class="ms-5 text-decoration-underline ivd-text-red">Irregulares</h3>
    <div class="d-flex align-items-center flex-grow-1" style="max-width: 200px;">
      <input class="form-control rounded-pill" type="search" placeholder="Buscar alumno" aria-label="Search"
            style="background-image:url('/images/search.svg');
                    background-repeat:no-repeat;
                    background-position: 1rem center; 
                    padding-left: 3rem; 
                    font-size: 1rem;
                    width: 100%;
                    border: 1px solid #84251C;">
    </div>
  </div>
  <div class="table-responsive mx-5 mb-5 rounded-5 flex-grow-1" style="min-height: 45vh; overflow: auto; background-color: white;">
    <table class="table table-hover" style="min-width: 800px; width: 100%;">
      <thead class="table-light">
        <tr>
          <th scope="col" style="width: 22.5%; min-width: 100px;" class="text-center align-middle">Matricula</th>
          <th scope="col" style="width: 22.5%; min-width: 100px;" class="text-center align-middle">Nombre</th>
          <th scope="col" style="width: 22.5%; min-width: 100px;" class="text-center align-middle">Apellidos</th>
          <th scope="col" style="width: 22.5%; min-width: 100px;" class="text-center align-middle">Correo Institucional</th>
          <th scope="col" style="width: 4%; min-width: 25px;"></th>
          <th scope="col" style="width: 6%; min-width: 25px;"></th>
        </tr>
      </thead>
      <tbody>
        <% for (let alumnoIrregular of alumnosIrregulares) { %>
          <tr>
            <td class="text-center align-middle"><%= alumnoIrregular.ivd_id %></td>
            <td class="text-center align-middle"><%= alumnoIrregular.nombre %></td>
            <td class="text-center align-middle"><%= alumnoIrregular.primer_apellido %> <%= alumnoIrregular.segundo_apellido|| '' %></td>
            <td class="text-center align-middle"><%= alumnoIrregular.correo_institucional %></td>
            <td class="text-center align-middle">
              <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                style="width: 1.5rem; height: 1.5rem; border-radius: 50%; background-color: #84251c; color: white; border: none;"
                data-bs-toggle="modal" 
                data-bs-target="#viewModal"
                data-alumno-id="<%= alumnoIrregular.ivd_id %>"
                data-alumno-nombre="<%= alumnoIrregular.nombre %> <%= alumnoIrregular.primer_apellido %> <%= alumnoIrregular.segundo_apellido|| '' %>">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                  </svg>
              </button>
            </td>
            <td class="text-center align-middle">
              <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                style="width: 1.5rem; height: 1.5rem; border-radius: 50%; background-color: #84251c; color: white; border: none;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                  </svg>
              </button>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  </main>
</div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content rounded-5" style="background-color: #f0f0f0; max-width: 95vw;">
      <div class="modal-header justify-content-center border-bottom-0">
        <h5 class="modal-title ivd-text-red" id="viewModalLabel"><b>Estás viendo el horario de un alumno</b></h5>
      </div>
      <div class="modal-body px-4 materia-scroll">
        <div class="rounded-5 py-1" style="background-color: white;">
          <div class="d-flex" style="height: fit-content;">
            <!-- Columna de la izquierda -->
            <div class="p-3 ps-0 flex-grow-1" style="width: 66.66%; height: fit-content;">
              <div class="mb-4" style="min-height: fit-content;">
                <div class="mt-1 mb-4">
                  <div class="d-flex align-items-end" style="border-bottom: 3px solid #84251C; width: fit-content; margin-top: -10px;">
                    <p class="fs-5 m-0 ms-2 me-3" id="viewModalAlumnoNombre"></p>
                  </div>
                </div>
                <div class="bg-white rounded-5 p-0 flex-grow-1 ms-3 border ivd-border-red" style=" display: block; height: fit-content; overflow-y: auto;">
                  <!-- Contenido del horario principal -->
                  <table class="table custom-table p-0 table-striped table-bordered table-hover mb-0"
                    style="font-size: 0.85rem; border-collapse: separate !important; border-spacing: 0; border-radius: 1rem;"
                  >
                    <thead class="table-danger rounded-top">
                      <tr class="text-center rounded-top">
                        <!-- Titulo de columnas -->
                        <th class="hour-col">Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                      </tr>
                    </thead>
                    <tbody id="viewModalTableBody">
                    </tbody>
                  </table>
                </div>
              </div> 
            </div>
            <!-- Columna de la derecha -->
            <div class="p-3 flex-grow-1 d-flex flex-column mt-5" style="width: 33.33%; height: auto;">
              <!-- Botones de los días -->
               <div class="d-flex justify-content-center gap-4 mt-3 mb-4">
                <button type="button" class="btn btn-circle-custom day-btn" data-day="LU">LU</button>
                <button type="button" class="btn btn-circle-custom day-btn" data-day="MA">MA</button>
                <button type="button" class="btn btn-circle-custom day-btn" data-day="MI">MI</button>
                <button type="button" class="btn btn-circle-custom day-btn" data-day="JU">JU</button>
                <button type="button" class="btn btn-circle-custom day-btn" data-day="VI">VI</button>
                </div>
              <!-- Clases -->
              <div id="classes-container" class="flex-grow-1 overflow-y-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center" style="background-color: #f0f0f0;">
        <button type="submit" form="scheduleForm" class="btn btn-primary rounded-pill px-4 mx-4" 
          style="background-color: #84251C; border: none;"
          data-bs-dismiss="modal">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/coordinador.js"></script>
<% if (msg) { %>
  <script>
    // Solo cuando el html carga completamente
    document.addEventListener('DOMContentLoaded', () => {
      // Crea una instancia de nuevo modal
      var myModal = new bootstrap.Modal(document.getElementById('msgModal'));
      // Muestra el nuevo modal
      myModal.show();
    });
  </script>
<% } %>
<script>
  document.getElementById('viewModal').addEventListener('shown.bs.modal', (event) => {
    const button = event.relatedTarget;
    const alumno_id = button.getAttribute('data-alumno-id');
    const alumno_nombre = button.getAttribute('data-alumno-nombre');
    document.getElementById('viewModalAlumnoNombre').innerHTML = alumno_nombre;
    fetch(`/coordinador/alumnos/consultar-horario/${alumno_id}`, {
      method: 'GET',
    }).then((res) => {
      return res.json();
    }).then((data) => {
      // Tabla de horario
      const colores = ['bg-primary-subtle', 'bg-success-subtle ','bg-warning-subtle ','bg-danger-subtle','bg-info-subtle','bg-secondary-subtle','bg-light'];
      const materiasColor = {};
      let colorIndex = 0;
      
      const horario = { 
        Lunes: {}, Martes: {}, Miércoles: {}, Jueves: {}, Viernes: {} 
      };
      
      if (typeof data.materias_resultado !== 'undefined' && Array.isArray(data.materias_resultado)) {
        data.materias_resultado.forEach(materia => {
          // Asignar color único por materia
          if (!materiasColor[materia.materia_nombre]) {
            materiasColor[materia.materia_nombre] = colores[colorIndex % colores.length];
            colorIndex++;
          }
          
          let indexDia = 0;
          materia.dias.forEach(dia => {
            const diaNombre = dia.charAt(0).toUpperCase() + dia.slice(1).toLowerCase();
          
            const [hi, mi] = materia.hora_inicio[indexDia].split(':').map(Number);
            const [hf, mf] = materia.hora_fin[indexDia].split(':').map(Number);
            
            const inicioBloque = hi * 2 + (mi >= 30 ? 1 : 0);
            const finBloque = hf * 2 + (mf >= 30 ? 1 : 0);
            
            if (horario[diaNombre]) {
              horario[diaNombre][inicioBloque] = {
                rowspan: finBloque - inicioBloque,
                nombre: materia.materia_nombre,
                color: materiasColor[materia.materia_nombre],
                salon: materia.salon_numero,
                profesor: `${materia.profesor_nombre} ${materia.profesor_primer_apellido}`,
                hora: `${materia.hora_inicio[indexDia]} - ${materia.hora_fin[indexDia]}`
              };
              
              for (let b = inicioBloque + 1; b < finBloque; b++) {
                horario[diaNombre][b] = 'ocupar';
              }
            }
            indexDia ++;
          });
        });
      }
      let html_container_tabla = '';
      for (let bloque = 14; bloque < 32; bloque++) {
        const hora = Math.floor(bloque / 2);
        const minutos = bloque % 2 === 0 ? '00' : '30';
        let horaFormato;
        if (bloque % 2 !== 0) {
          horaFormato = `${hora}:${minutos} - ${hora + 1}:00`;
        } else {
          horaFormato = `${hora}:${minutos} - ${hora}:30`;
        }
        html_container_tabla += `
          <tr style="max-height: 1rem;">
            <th class="hour-cell text-center align-middle">${horaFormato}</th>`;
            ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'].forEach(dia => {
              if (horario[dia][bloque] === 'ocupar') return;
              if (horario[dia][bloque]) { 
                const clase = horario[dia][bloque];
                html_container_tabla += `
                  <td class="text-black text-center align-middle ${clase.color}" 
                      rowspan="${clase.rowspan}"
                      data-bs-toggle="tooltip" 
                      data-bs-placement="top"`;
                      if (clase.salon === 9999) {
                        html_container_tabla += `
                          title="${clase.hora} | Salon: No asignado | Prof: ${clase.profesor}">`;
                      } else {
                        html_container_tabla += `
                          title="${clase.hora} | Salon: ${clase.salon} | Prof: ${clase.profesor}">`
                      }
                    html_container_tabla += `
                    ${clase.nombre}
                  </td>`;
              } else {
                html_container_tabla += `
                  <td class="empty-slot"></td>`;
              }
            })
        html_container_tabla += `
          </tr>`;
      }

      document.getElementById('viewModalTableBody').innerHTML = html_container_tabla;
      
      // Tarjetas de materias
      let html_container_materias = '';
      for (let materia_resultado of data.materias_resultado) {
        html_container_materias += `
        <div class="bg-white rounded-5 py-2 mb-3 class-card border ivd-border-red" 
          data-days="${materia_resultado.dias.map(dia => dia.substring(0,2).toUpperCase()).join(',')}"
          data-hora-inicio="${materia_resultado.hora_inicio.join(',')}"
          data-hora-fin="${materia_resultado.hora_fin.join(',')}"
        >
          <div class="d-flex m-0 align-items-center justify-content-center" style="width: 100%;">
            <p class="m-0 me-3 hora-card"></p>
            <p class="m-0" style="color: #84251C;">(${materia_resultado.dias.join(', ')})</p>
          </div>
          <div class="d-flex justify-content-center my-3">
            <div style="border-bottom: 3px solid #84251C; width: 100%;"></div>
          </div>
          <p class="fw-semibold text-center">${materia_resultado.materia_nombre}</p>
          <p class="text-center mb-3">
            Salón: `;
            if (materia_resultado.salon_numero === 9999) {
              html_container_materias += `
              No asignado |`;
            } else {
              html_container_materias += `
              ${materia_resultado.salon_numero} |`
            }
            html_container_materias += ` 
            ${materia_resultado.profesor_nombre} 
            ${materia_resultado.profesor_primer_apellido}
            ${materia_resultado.profesor_segundo_apellido}
          </p>
        </div>`;
      }
      document.getElementById('classes-container').innerHTML = html_container_materias;

      const dayButtons = document.querySelectorAll('.day-btn');
      const classCards = document.querySelectorAll('.class-card');  

      function filterClassesByDay(day) {
        classCards.forEach(card => {
          const horaInicioArray = card.getAttribute('data-hora-inicio').split(',');
          const horaFinArray = card.getAttribute('data-hora-fin').split(','); 
          const indexDiaCard = card.getAttribute('data-days').split(',').indexOf(day);
          card.style.display = card.getAttribute('data-days').includes(day) ? 'block' : 'none';
          if (indexDiaCard !== -1) {
            card.querySelector(".hora-card").textContent = `${horaInicioArray[indexDiaCard].substring(0, 5)} - ${horaFinArray[indexDiaCard].substring(0, 5)}`;
          } else {
            card.querySelector(".hora-card").textContent = `${horaInicioArray[0].substring(0, 5)} - ${horaFinArray[0].substring(0, 5)}`;
          }
        });
        //Hover cuando se selecciona
        dayButtons.forEach(btn => {
          if (btn.getAttribute('data-day') === day) {
            btn.style.backgroundColor = '#84251C';
            btn.style.color = 'white';
            btn.style.borderColor = '#84251C';
          } else {
            btn.style.backgroundColor = 'white';
            btn.style.color = 'black';
            btn.style.borderColor = '#84251C';
          }
        });
      }
      dayButtons.forEach(button => {
        button.addEventListener('click', function() {
          filterClassesByDay(this.getAttribute('data-day')); });
        button.addEventListener('mouseover', function() { });
        button.addEventListener('mouseout', function() { });
      });
      //Muestra siempre el lunes
      filterClassesByDay('LU');
    }).catch((error) => {
      console.log(error);
    });
  });
</script>

</body>
</html>