<%- include('includes/_nav_alumno.ejs') %>
<main class="bg-grey mx-2 mb-2 alumno-scroll" style="height: 85%; border-radius: 1.5rem;">
      <div class="d-flex" style="height: fit-content;">
        <!-- Columna de la izquierda -->
        <div class="p-3 ps-0 flex-grow-1" style="width: 66.66%; height: fit-content;">
          <div class="mb-4" style="min-height: fit-content;">
            <% if (!inscripcion_completada) { %>
              <div class="mt-2 mb-4">
                <div class="d-flex align-items-end" style="border-bottom: 3px solid #84251C; width: fit-content; margin-top: -10px;">
                  <h1 class="m-0 ms-3">Horario</h1>
                  <p class="fs-5 m-0 ms-4 me-3 ivd-text-red">Semestre Agosto - Diciembre 2025</p>
                </div>
              </div>
            <% } else { %>
                <div class="mt-2 mb-4">
                  <div class="d-flex align-items-end" style="border-bottom: 3px solid #84251C; width: fit-content; margin-top: -10px;">
                    <h1 class="m-0 ms-3">Resultado de inscripción</h1>
                    <p class="fs-5 m-0 ms-4 me-3 ivd-text-red">Semestre Agosto - Diciembre 2025</p>
                  </div>
                </div>
            <% } %>
            <div class="bg-white rounded-5 p-0 flex-grow-1 ms-4" style=" display: block; height: fit-content; overflow-y: auto;">
              <!-- Contenido del horario principal -->
              <table class="table custom-table p-0 table-striped table-bordered table-hover mb-0"
                style="font-size: 0.85rem; border-collapse: separate !important; border-spacing: 0; border-radius: 1rem;"
              >
                <thead class="table-danger rounded-top">
                  <tr class="text-center rounded-top">
                    <!-- Titulo de columnas -->
                    <th class="hour-col">Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                  </tr>
                </thead>
                <tbody>
                  <%
                  <!-- Colores de bloques -->
                  const colores = ['bg-primary-subtle', 'bg-success-subtle ','bg-warning-subtle ','bg-danger-subtle','bg-info-subtle','bg-secondary-subtle','bg-light'];
                  const materiasColor = {};
                  let colorIndex = 0;
                  
                  <!-- Inicializa estructura de horario -->
                  const horario = { 
                    Lunes: {}, Martes: {}, Miércoles: {}, Jueves: {}, Viernes: {} 
                  };
                  
                  <!--  Procesa las materia de resultado para construir el horario-->
                  if (typeof materias_resultado !== 'undefined' && Array.isArray(materias_resultado)) {
                    materias_resultado.forEach(materia => {
                      // Asignar color único por materia
                      if (!materiasColor[materia.materia_nombre]) {
                        materiasColor[materia.materia_nombre] = colores[colorIndex % colores.length];
                        colorIndex++;
                      }
                      
                      <!-- Procesa el dia de la materia -->
                      let indexDia = 0;
                      materia.dias.forEach(dia => {
                        const diaNombre = dia.charAt(0).toUpperCase() + dia.slice(1).toLowerCase();
                        
                        <!-- Bloques de 30 min -->
                        const [hi, mi] = materia.hora_inicio[indexDia].split(':').map(Number);
                        const [hf, mf] = materia.hora_fin[indexDia].split(':').map(Number);
                        
                        const inicioBloque = hi * 2 + (mi >= 30 ? 1 : 0);
                        const finBloque = hf * 2 + (mf >= 30 ? 1 : 0);
                        
                        <!-- Si el dia es valido -->
                        if (horario[diaNombre]) {
                          horario[diaNombre][inicioBloque] = {
                            rowspan: finBloque - inicioBloque,
                            nombre: materia.materia_nombre,
                            color: materiasColor[materia.materia_nombre],
                            salon: materia.salon_numero,
                            profesor: `${materia.profesor_nombre} ${materia.profesor_primer_apellido}`,
                            hora: `${materia.hora_inicio[indexDia]} - ${materia.hora_fin[indexDia]}`
                          };
                          
                          <!-- Bloques intermedios como ocupados -->
                          for (let b = inicioBloque + 1; b < finBloque; b++) {
                            horario[diaNombre][b] = 'ocupar';
                          }
                        }
                        indexDia ++;
                      });
                    });
                  }
                  
                  <!-- Filas de la tabla -->
                  for (let bloque = 14; bloque < 32; bloque++) {
                    const hora = Math.floor(bloque / 2);
                    const minutos = bloque % 2 === 0 ? '00' : '30';
                    let horaFormato;
                    if (bloque % 2 !== 0) {
                      horaFormato = `${hora}:${minutos} - ${hora + 1}:00`;
                    } else {
                      horaFormato = `${hora}:${minutos} - ${hora}:30`;
                    }
                  %>
                    <tr style="max-height: 1rem;">
                      <th class="hour-cell text-center align-middle"><%= horaFormato %></th>
                      <% ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'].forEach(dia => { %>
                        <% if (horario[dia][bloque] === 'ocupar') return; %>
                        <% if (horario[dia][bloque]) { 
                          const clase = horario[dia][bloque];
                        %>
                          <td class="text-black text-center align-middle <%= clase.color %>" 
                              rowspan="<%= clase.rowspan %>"
                              data-bs-toggle="tooltip" 
                              data-bs-placement="top" 
                              <% if (clase.salon === 9999) { %>
                                title="<%= clase.hora %> | Salon: No asignado | Prof: <%= clase.profesor %>">
                              <% } else { %>
                                title="<%= clase.hora %> | Salon: <%= clase.salon %> | Prof: <%= clase.profesor %>">
                              <% } %>
                            <%= clase.nombre %>
                          </td>
                        <% } else { %>
                          <td class="empty-slot"></td>
                        <% } %>
                      <% }) %>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div> 
        </div>
        <!-- Columna de la derecha -->
        <div class="p-3 flex-grow-1 d-flex flex-column mt-5" style="width: 33.33%; height: auto;">
          <!-- Botones de los días -->
           <div class="d-flex justify-content-center gap-4 mt-3 mb-4">
            <button type="button" class="btn btn-circle-custom day-btn" data-day="LU">LU</button>
            <button type="button" class="btn btn-circle-custom day-btn" data-day="MA">MA</button>
            <button type="button" class="btn btn-circle-custom day-btn" data-day="MI">MI</button>
            <button type="button" class="btn btn-circle-custom day-btn" data-day="JU">JU</button>
            <button type="button" class="btn btn-circle-custom day-btn" data-day="VI">VI</button>
            </div>
          <!-- Clases -->
          <div id="classes-container" class="flex-grow-1 overflow-y-auto">
            <% for (let materia_resultado of materias_resultado) { %>
              <div class="bg-white rounded-5 py-2 mb-3 class-card" 
                data-days="<%= materia_resultado.dias.map(dia => dia.substring(0,2).toUpperCase()).join(',') %>"
                data-hora-inicio="<%= materia_resultado.hora_inicio.join(',') %>"
                data-hora-fin="<%= materia_resultado.hora_fin.join(',') %>"
              >
                <div class="d-flex m-0 align-items-center justify-content-center" style="width: 100%;">
                  <p class="m-0 me-3 hora-card"></p>
                  <p class="m-0" style="color: #84251C;">(<%= materia_resultado.dias.join(', ') %>)</p>
                </div>
                <div class="d-flex justify-content-center my-3">
                  <div style="border-bottom: 3px solid #84251C; width: 100%;"></div>
                </div>
                <p class="fw-semibold text-center"><%= materia_resultado.materia_nombre %></p>
                <p class="text-center mb-3">
                  Salón: 
                  <% if (materia_resultado.salon_numero === 9999) { %>
                    No asignado |
                  <% } else { %>
                    <%= materia_resultado.salon_numero %> |
                  <% } %>   
                  <%= materia_resultado.profesor_nombre %> 
                  <%= materia_resultado.profesor_primer_apellido %>
                  <%= materia_resultado.profesor_segundo_apellido %>
                </p>
              </div>
              <% } %>
            </div>

          <!-- División -->
          <div class="d-flex justify-content-center mt-3 mb-3">
            <div style="border-bottom: 3px solid #84251C; width: 100%;"></div>
          </div>
          <% if (!inscripcion_completada) { %>
          <!-- Botones -->
          <div class="d-flex align-items-center justify-content-between mx-5 mb-3 gap-1 flex-wrap">
            <div class="d-flex">
              <button 
              type="button" 
              class="btn rounded-pill px-4 py-2 mx-2"
              style="background-color: white; border: 1px solid #84251C; color: #84251C; min-width: 120px;" 
              data-bs-toggle="modal" 
              data-bs-target="#registerSolicitudModal">
              Pedir cambio
              </button>
            </div>
            <div class="d-flex">
              <button type="submit" 
              class="btn rounded-pill px-4 py-2 mx-2"
              style="background-color: #84251C; color: white; border: none; min-width: 120px;"
              data-bs-toggle="modal"
              data-bs-target="#registerInscripcionModal"
              >
              Confirmar
              </button>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </main>

<!-- Modal de confirmación para Aceptar -->
<div class="modal fade" id="registerInscripcionModal" tabindex="-1" aria-labelledby="registerInscripcionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-5" style="background-color: #f0f0f0; max-width: 95vw;">
      
      <!-- Cuerpo del modal -->
      <div class="modal-body  px-4">
        <div class="rounded-5 p-4" style="background-color: white;">
          <p class="modal-title text-center" id="registerInscripcionModalLabel" style="color: #84251C;"><b>Usted esta cerrando su proceso de admision. 
            ¿Esta seguro?</b></p>
        </div>
      </div>
      
      <!-- Pie del modal con botones de acción -->
      <div class="modal-footer justify-content-center" style="background-color: #f0f0f0; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top: none; padding: 1.5rem;">
        <button type="button" class="btn btn-secondary rounded-pill px-4 py-2 mx-2" 
          style="background-color: white; border: 1px solid #84251C; color: #84251C; min-width: 120px;" 
          data-bs-dismiss="modal">
          Cancelar
        </button>
        <form id="AceptarForm" method="POST" action="">
          <button type="submit" class="btn btn-primary rounded-pill px-4 py-2 mx-2" 
            style="background-color: #84251C; border: none; min-width: 120px;">
            Confirmar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registerSolicitudModal" tabindex="-1" aria-labelledby="registerSolicitudModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-5" style="background-color: #f0f0f0; max-width: 95vw;">
      <form id="solicitudForm" method="POST" action="/alumno-regular/horario/solitud">
        <div class="modal-body px-4">
          <div class="rounded-5 p-4" style="background-color: white;">
            <p class="modal-title text-center" id="registerSolicitudModalLabel" style="color: #84251C; margin-bottom: 20px;">
              <b>Usted está solicitando un cambio de estatus ¿Está seguro?</b>
            </p>
            <div class="mb-3">
              <textarea maxlength="60" class="form-control rounded-5 mx-auto" id="nota" name="descripcion" rows="2" 
                placeholder="Escriba sus razones" style="background-color: #f0f0f0; resize: none;" required></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <input type="hidden" name="ivd_id" id="hiddenIvdId">
          <button type="button" class="btn btn-secondary rounded-pill px-4 py-2 mx-2" 
            style="background-color: white; border: 1px solid #84251C; color: #84251C; min-width: 120px;" 
            data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary rounded-pill px-4 py-2 mx-2" 
            style="background-color: #84251C; border: none; min-width: 120px;">
            Confirmar
          </button>
        </div>
      </form>      
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/alumno.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      const dayButtons = document.querySelectorAll('.day-btn');
      const classCards = document.querySelectorAll('.class-card');  
      function filterClassesByDay(day) {
        classCards.forEach(card => {
          const horaInicioArray = card.getAttribute('data-hora-inicio').split(',');
          const horaFinArray = card.getAttribute('data-hora-fin').split(','); 
          const indexDiaCard = card.getAttribute('data-days').split(',').indexOf(day);
          card.style.display = card.getAttribute('data-days').includes(day) ? 'block' : 'none';
          if (indexDiaCard !== -1) {
            card.querySelector(".hora-card").textContent = `${horaInicioArray[indexDiaCard].substring(0, 5)} - ${horaFinArray[indexDiaCard].substring(0, 5)}`;
          } else {
            card.querySelector(".hora-card").textContent = `${horaInicioArray[0].substring(0, 5)} - ${horaFinArray[0].substring(0, 5)}`;
          }
        });
        //Hover cuando se selecciona
        dayButtons.forEach(btn => {
          if (btn.getAttribute('data-day') === day) {
            btn.style.backgroundColor = '#84251C';
            btn.style.color = 'white';
            btn.style.borderColor = '#84251C';
          } else {
            btn.style.backgroundColor = 'white';
            btn.style.color = 'black';
            btn.style.borderColor = '#84251C';
          }
        });
      }
      dayButtons.forEach(button => {
        button.addEventListener('click', function() {
          filterClassesByDay(this.getAttribute('data-day')); });
        button.addEventListener('mouseover', function() { });
        button.addEventListener('mouseout', function() { });
      });
      //Muestra siempre el lunes
      filterClassesByDay('LU');
    });

    // Confirmar horario
    document.getElementById('registerInscripcionModal').addEventListener('show.bs.modal', function(event) {
      document.getElementById('AceptarForm').action = `/alumno-regular/horario/confirmar`;
    });

    // Solicitud de cambio
    document.addEventListener('DOMContentLoaded', function() {
      const solicitudModal = document.getElementById('registerSolicitudModal');
      const form = document.getElementById('solicitudForm');
      solicitudModal.addEventListener('show.bs.modal', function(event) {
        const button = event.relatedTarget;
        const ivdId = button.getAttribute('data-ivd-id');
        document.getElementById('hiddenIvdId').value = ivdId;
      });
    });

</script>
</body>
</html>


