<%- include('includes/_nav_coordinador.ejs') %>
<%- include('includes/_header_coordinador.ejs') %>

<main class="bg-grey flex-grow-1 rounded-5 p-0 d-flex flex-column materia-scroll" style="height: 100vh;">
  <div class="d-flex justify-content-between">
    <div class="mb-4">
      <h1 class="ms-3 mt-2">Materias Abiertas</h1>
      <div style="border-bottom: 3px solid #84251C; width: 30rem; margin-top: -10px;"></div>
    </div>
    <form action="/coordinador/materias/sincronizar" method="POST">
      <button type="submit" class="btn btn-primary d-flex align-items-center gap-2 rounded-pill px-3 py-2 me-5 mt-3 ivd-text-red border ivd-border-red" 
      style="background-color: white; border: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
        </svg>
        Sincronizar Materias
      </button>
    </form>
  </div>
  <!-- Si el msg string no es null, muestra un mensaje del resultado de la operación -->
  <% if (msg) { %>
    <div class="modal fade" id="msgModal" tabindex="-1" aria-labelledby="msgModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content align-items-center rounded-5">
          <div class="modal-header border border-0">
            <h5 class="modal-title ivd-text-red" id="msgModalLabel">Sincronizar Materias</h5>
          </div>
          <div class="modal-body bg-grey rounded-5 text-center px-5">
            <%- msg %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn ivd-bg-red text-white rounded-5" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  <% } %>
  
  <% const materias = materiasPorSemestre || {}; %>
  <div class="d-flex flex-column justfiy-content-center mt-4">
    <div>
      <div class="d-flex justify-content-between">
        <h3 class="ms-5 text-decoration-underline ivd-text-red">1er Semestre</h3>
        <div class="d-flex align-items-center justify-content-end mx-5 mb-3 gap-3 flex-wrap">
          <div class="d-flex align-items-center flex-grow-1" style="max-width: 200px;">
            <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar salón" aria-label="Search"
                  style="background-image:url('/images/search.svg');
                          background-repeat:no-repeat;
                          background-position: 1rem center; 
                          padding-left: 3rem; 
                          font-size: 1rem;
                          width: 100%;
                          border: 1px solid #84251C;">
          </div>
            <button class="btn btn-primary d-flex align-items-center gap-2 rounded-pill px-3 py-2" 
            style="background-color: #84251C; border: none;"
            data-bs-toggle="modal"
            data-bs-target="#abrirMateriaModal"
            data-semestre="s1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
              </svg>
              Abrir Materia
            </button>
        </div>
      </div>    
      <div class="table-responsive mx-5 mb-5 rounded-5 flex-grow-1" style="max-height: 200px; overflow: auto; background-color: white;">
        <table class="table table-hover" style="min-width: 800px; width: 100%;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Nombre</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">ID</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Créditos</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Horas profesor</th>
              <th scope="col" style="width: 35%; min-width: 150px;" class="text-center align-middle">Tipo de Salon</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Obligatoria</th>
              <th scope="col" style="width: 5%; min-width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <% if (materias['s1']) { %>
              <% for (let materia of materias['s1']) { %>
                <tr>
                  <th scope="row" class="text-center align-middle"><%= materia.materia_id %></th>
                  <td class="text-center align-middle"><%= materia.nombre %></td>
                  <td class="text-center align-middle"><%= materia.creditos %></td>
                  <td class="text-center align-middle"><%= materia.horas_profesor %></td>
                  <td class="text-center align-middle"><%= materia.tipo_salon %></td>
                  <td class="text-center align-middle">
                    <% if (materia.obligatoria === true) { %>
                      <%= "Sí" %>
                    <% } else if (materia.obligatoria === false) { %>
                      <%= "No" %>
                    <% } %>
                  </td>
                  <td class="text-center align-middle">
                    <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                    style="
                      width: 1.5rem;
                      height: 1.5rem;
                      border-radius: 50%;
                      background-color: #84251c;
                      color: white;
                      border: none;
                    ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="d-flex justify-content-between">
        <h3 class="ms-5 text-decoration-underline ivd-text-red">2do Semestre</h3>
        <div class="d-flex align-items-center justify-content-end mx-5 mb-3 gap-3 flex-wrap">
          <div class="d-flex align-items-center flex-grow-1" style="max-width: 200px;">
            <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar salón" aria-label="Search"
                  style="background-image:url('/images/search.svg');
                          background-repeat:no-repeat;
                          background-position: 1rem center; 
                          padding-left: 3rem; 
                          font-size: 1rem;
                          width: 100%;
                          border: 1px solid #84251C;">
          </div>
          <button class="btn btn-primary d-flex align-items-center gap-2 rounded-pill px-3 py-2" 
          style="background-color: #84251C; border: none;"
          data-bs-toggle="modal"
          data-bs-target="#abrirMateriaModal"
          data-semestre="s2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
            Abrir Materia
          </button>
        </div>
      </div>  
    
      <div class="table-responsive mx-5 mb-5 rounded-5 flex-grow-1" style="max-height: 200px; overflow: auto; background-color: white;">
        <table class="table table-hover" style="min-width: 800px; width: 100%;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Nombre</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">ID</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Créditos</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Horas profesor</th>
              <th scope="col" style="width: 35%; min-width: 150px;" class="text-center align-middle">Tipo de Salon</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Obligatoria</th>
              <th scope="col" style="width: 5%; min-width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <% if (materias['s2']) { %>
              <% for (let materia of materias['s2']) { %>
                <tr>
                  <th scope="row" class="text-center align-middle"><%= materia.materia_id %></th>
                  <td class="text-center align-middle"><%= materia.nombre %></td>
                  <td class="text-center align-middle"><%= materia.creditos %></td>
                  <td class="text-center align-middle"><%= materia.horas_profesor %></td>
                  <td class="text-center align-middle"><%= materia.tipo_salon %></td>
                  <td class="text-center align-middle">
                    <% if (materia.obligatoria === true) { %>
                      <%= "Sí" %>
                    <% } else if (materia.obligatoria === false) { %>
                      <%= "No" %>
                    <% } %>
                  </td>
                  <td class="text-center align-middle">
                    <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                    style="
                      width: 1.5rem;
                      height: 1.5rem;
                      border-radius: 50%;
                      background-color: #84251c;
                      color: white;
                      border: none;
                    ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-between">
        <h3 class="ms-5 text-decoration-underline ivd-text-red">3er Semestre</h3>
        <div class="d-flex align-items-center justify-content-end mx-5 mb-3 gap-3 flex-wrap">
          <div class="d-flex align-items-center flex-grow-1" style="max-width: 200px;">
            <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar salón" aria-label="Search"
                  style="background-image:url('/images/search.svg');
                          background-repeat:no-repeat;
                          background-position: 1rem center; 
                          padding-left: 3rem; 
                          font-size: 1rem;
                          width: 100%;
                          border: 1px solid #84251C;">
          </div>
          <button class="btn btn-primary d-flex align-items-center gap-2 rounded-pill px-3 py-2" 
          style="background-color: #84251C; border: none;"
          data-bs-toggle="modal"
          data-bs-target="#abrirMateriaModal"
          data-semestre="s3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
            Abrir Materia
          </button>
        </div>
      </div>  
    
      <div class="table-responsive mx-5 mb-5 rounded-5 flex-grow-1" style="max-height: 200px; overflow: auto; background-color: white;">
        <table class="table table-hover" style="min-width: 800px; width: 100%;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Nombre</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">ID</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Créditos</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Horas profesor</th>
              <th scope="col" style="width: 35%; min-width: 150px;" class="text-center align-middle">Tipo de Salon</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Obligatoria</th>
              <th scope="col" style="width: 5%; min-width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <% if (materias['s3']) { %>
              <% for (let materia of materias['s3']) { %>
                <tr>
                  <th scope="row" class="text-center align-middle"><%= materia.materia_id %></th>
                  <td class="text-center align-middle"><%= materia.nombre %></td>
                  <td class="text-center align-middle"><%= materia.creditos %></td>
                  <td class="text-center align-middle"><%= materia.horas_profesor %></td>
                  <td class="text-center align-middle"><%= materia.tipo_salon %></td>
                  <td class="text-center align-middle">
                    <% if (materia.obligatoria === true) { %>
                      <%= "Sí" %>
                    <% } else if (materia.obligatoria === false) { %>
                      <%= "No" %>
                    <% } %>
                  </td>
                  <td class="text-center align-middle">
                    <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                    style="
                      width: 1.5rem;
                      height: 1.5rem;
                      border-radius: 50%;
                      background-color: #84251c;
                      color: white;
                      border: none;
                    ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="d-flex justify-content-between">
        <h3 class="ms-5 text-decoration-underline ivd-text-red">4to Semestre</h3>
        <div class="d-flex align-items-center justify-content-end mx-5 mb-3 gap-3 flex-wrap">
          <div class="d-flex align-items-center flex-grow-1" style="max-width: 200px;">
            <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar salón" aria-label="Search"
                  style="background-image:url('/images/search.svg');
                          background-repeat:no-repeat;
                          background-position: 1rem center; 
                          padding-left: 3rem; 
                          font-size: 1rem;
                          width: 100%;
                          border: 1px solid #84251C;">
          </div>
          <button class="btn btn-primary d-flex align-items-center gap-2 rounded-pill px-3 py-2" 
          style="background-color: #84251C; border: none;"
          data-bs-toggle="modal"
          data-bs-target="#abrirMateriaModal"
          data-semestre="s4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
            Abrir Materia
          </button>
        </div>
      </div>  
    
      <div class="table-responsive mx-5 mb-5 rounded-5 flex-grow-1" style="max-height: 200px; overflow: auto; background-color: white;">
        <table class="table table-hover" style="min-width: 800px; width: 100%;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Nombre</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">ID</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Créditos</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Horas profesor</th>
              <th scope="col" style="width: 35%; min-width: 150px;" class="text-center align-middle">Tipo de Salon</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Obligatoria</th>
              <th scope="col" style="width: 5%; min-width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <% if (materias['s4']) { %>
              <% for (let materia of materias['s4']) { %>
                <tr>
                  <th scope="row" class="text-center align-middle"><%= materia.materia_id %></th>
                  <td class="text-center align-middle"><%= materia.nombre %></td>
                  <td class="text-center align-middle"><%= materia.creditos %></td>
                  <td class="text-center align-middle"><%= materia.horas_profesor %></td>
                  <td class="text-center align-middle"><%= materia.tipo_salon %></td>
                  <td class="text-center align-middle">
                    <% if (materia.obligatoria === true) { %>
                      <%= "Sí" %>
                    <% } else if (materia.obligatoria === false) { %>
                      <%= "No" %>
                    <% } %>
                  </td>
                  <td class="text-center align-middle">
                    <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                    style="
                      width: 1.5rem;
                      height: 1.5rem;
                      border-radius: 50%;
                      background-color: #84251c;
                      color: white;
                      border: none;
                    ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="d-flex justify-content-between">
        <h3 class="ms-5 text-decoration-underline ivd-text-red">5to Semestre</h3>
        <div class="d-flex align-items-center justify-content-end mx-5 mb-3 gap-3 flex-wrap">
          <div class="d-flex align-items-center flex-grow-1" style="max-width: 200px;">
            <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar salón" aria-label="Search"
                  style="background-image:url('/images/search.svg');
                          background-repeat:no-repeat;
                          background-position: 1rem center; 
                          padding-left: 3rem; 
                          font-size: 1rem;
                          width: 100%;
                          border: 1px solid #84251C;">
          </div>
          <button class="btn btn-primary d-flex align-items-center gap-2 rounded-pill px-3 py-2" 
          style="background-color: #84251C; border: none;"
          data-bs-toggle="modal"
          data-bs-target="#abrirMateriaModal"
          data-semestre="s5">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
            Abrir Materia
          </button>
        </div>
      </div>  
    
      <div class="table-responsive mx-5 mb-5 rounded-5 flex-grow-1" style="max-height: 200px; overflow: auto; background-color: white;">
        <table class="table table-hover" style="min-width: 800px; width: 100%;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Nombre</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">ID</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Créditos</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Horas profesor</th>
              <th scope="col" style="width: 35%; min-width: 150px;" class="text-center align-middle">Tipo de Salon</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Obligatoria</th>
              <th scope="col" style="width: 5%; min-width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <% if (materias['s5']) { %>
              <% for (let materia of materias['s5']) { %>
                <tr>
                  <th scope="row" class="text-center align-middle"><%= materia.materia_id %></th>
                  <td class="text-center align-middle"><%= materia.nombre %></td>
                  <td class="text-center align-middle"><%= materia.creditos %></td>
                  <td class="text-center align-middle"><%= materia.horas_profesor %></td>
                  <td class="text-center align-middle"><%= materia.tipo_salon %></td>
                  <td class="text-center align-middle">
                    <% if (materia.obligatoria === true) { %>
                      <%= "Sí" %>
                    <% } else if (materia.obligatoria === false) { %>
                      <%= "No" %>
                    <% } %>
                  </td>
                  <td class="text-center align-middle">
                    <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                    style="
                      width: 1.5rem;
                      height: 1.5rem;
                      border-radius: 50%;
                      background-color: #84251c;
                      color: white;
                      border: none;
                    ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-between">
        <h3 class="ms-5 text-decoration-underline ivd-text-red">6to Semestre</h3>
        <div class="d-flex align-items-center justify-content-end mx-5 mb-3 gap-3 flex-wrap">
          <div class="d-flex align-items-center flex-grow-1" style="max-width: 200px;">
            <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar salón" aria-label="Search"
                  style="background-image:url('/images/search.svg');
                          background-repeat:no-repeat;
                          background-position: 1rem center; 
                          padding-left: 3rem; 
                          font-size: 1rem;
                          width: 100%;
                          border: 1px solid #84251C;">
          </div>
          <button class="btn btn-primary d-flex align-items-center gap-2 rounded-pill px-3 py-2" 
          style="background-color: #84251C; border: none;"
          data-bs-toggle="modal"
          data-bs-target="#abrirMateriaModal"
          data-semestre="s6">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
            Abrir Materia
          </button>
        </div>
      </div>  
    
      <div class="table-responsive mx-5 mb-5 rounded-5 flex-grow-1" style="max-height: 200px; overflow: auto; background-color: white;">
        <table class="table table-hover" style="min-width: 800px; width: 100%;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Nombre</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">ID</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Créditos</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Horas profesor</th>
              <th scope="col" style="width: 35%; min-width: 150px;" class="text-center align-middle">Tipo de Salon</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Obligatoria</th>
              <th scope="col" style="width: 5%; min-width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <% if (materias['s6']) { %>
              <% for (let materia of materias['s6']) { %>
                <tr>
                  <th scope="row" class="text-center align-middle"><%= materia.materia_id %></th>
                  <td class="text-center align-middle"><%= materia.nombre %></td>
                  <td class="text-center align-middle"><%= materia.creditos %></td>
                  <td class="text-center align-middle"><%= materia.horas_profesor %></td>
                  <td class="text-center align-middle"><%= materia.tipo_salon %></td>
                  <td class="text-center align-middle">
                    <% if (materia.obligatoria === true) { %>
                      <%= "Sí" %>
                    <% } else if (materia.obligatoria === false) { %>
                      <%= "No" %>
                    <% } %>
                  </td>
                  <td class="text-center align-middle">
                    <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                    style="
                      width: 1.5rem;
                      height: 1.5rem;
                      border-radius: 50%;
                      background-color: #84251c;
                      color: white;
                      border: none;
                    ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="d-flex justify-content-between">
        <h3 class="ms-5 text-decoration-underline ivd-text-red">7mo Semestre</h3>
        <div class="d-flex align-items-center justify-content-end mx-5 mb-3 gap-3 flex-wrap">
          <div class="d-flex align-items-center flex-grow-1" style="max-width: 200px;">
            <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar salón" aria-label="Search"
                  style="background-image:url('/images/search.svg');
                          background-repeat:no-repeat;
                          background-position: 1rem center; 
                          padding-left: 3rem; 
                          font-size: 1rem;
                          width: 100%;
                          border: 1px solid #84251C;">
          </div>
          <button class="btn btn-primary d-flex align-items-center gap-2 rounded-pill px-3 py-2" 
          style="background-color: #84251C; border: none;"
          data-bs-toggle="modal"
          data-bs-target="#abrirMateriaModal"
          data-semestre="s7">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
            Abrir Materia
          </button>
        </div>
      </div>  
    
      <div class="table-responsive mx-5 mb-5 rounded-5 flex-grow-1" style="max-height: 200px; overflow: auto; background-color: white;">
        <table class="table table-hover" style="min-width: 800px; width: 100%;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Nombre</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">ID</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Créditos</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Horas profesor</th>
              <th scope="col" style="width: 35%; min-width: 150px;" class="text-center align-middle">Tipo de Salon</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Obligatoria</th>
              <th scope="col" style="width: 5%; min-width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <% if (materias['s7']) { %>
              <% for (let materia of materias['s7']) { %>
                <tr>
                  <th scope="row" class="text-center align-middle"><%= materia.materia_id %></th>
                  <td class="text-center align-middle"><%= materia.nombre %></td>
                  <td class="text-center align-middle"><%= materia.creditos %></td>
                  <td class="text-center align-middle"><%= materia.horas_profesor %></td>
                  <td class="text-center align-middle"><%= materia.tipo_salon %></td>
                  <td class="text-center align-middle">
                    <% if (materia.obligatoria === true) { %>
                      <%= "Sí" %>
                    <% } else if (materia.obligatoria === false) { %>
                      <%= "No" %>
                    <% } %>
                  </td>
                  <td class="text-center align-middle">
                    <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                    style="
                      width: 1.5rem;
                      height: 1.5rem;
                      border-radius: 50%;
                      background-color: #84251c;
                      color: white;
                      border: none;
                    ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="d-flex justify-content-between">
        <h3 class="ms-5 text-decoration-underline ivd-text-red">8vo Semestre</h3>
        <div class="d-flex align-items-center justify-content-end mx-5 mb-3 gap-3 flex-wrap">
          <div class="d-flex align-items-center flex-grow-1" style="max-width: 200px;">
            <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar salón" aria-label="Search"
                  style="background-image:url('/images/search.svg');
                          background-repeat:no-repeat;
                          background-position: 1rem center; 
                          padding-left: 3rem; 
                          font-size: 1rem;
                          width: 100%;
                          border: 1px solid #84251C;">
          </div>
          <button class="btn btn-primary d-flex align-items-center gap-2 rounded-pill px-3 py-2" 
          style="background-color: #84251C; border: none;"
          data-bs-toggle="modal"
          data-bs-target="#abrirMateriaModal"
          data-semestre="s8">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
            Abrir Materia
          </button>
        </div>
      </div>  
    
      <div class="table-responsive mx-5 mb-5 rounded-5 flex-grow-1" style="max-height: 200px; overflow: auto; background-color: white;">
        <table class="table table-hover" style="min-width: 800px; width: 100%;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Nombre</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">ID</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Créditos</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Horas profesor</th>
              <th scope="col" style="width: 35%; min-width: 150px;" class="text-center align-middle">Tipo de Salon</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Obligatoria</th>
              <th scope="col" style="width: 5%; min-width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <% if (materias['s8']) { %>
              <% for (let materia of materias['s8']) { %>
                <tr>
                  <th scope="row" class="text-center align-middle"><%= materia.materia_id %></th>
                  <td class="text-center align-middle"><%= materia.nombre %></td>
                  <td class="text-center align-middle"><%= materia.creditos %></td>
                  <td class="text-center align-middle"><%= materia.horas_profesor %></td>
                  <td class="text-center align-middle"><%= materia.tipo_salon %></td>
                  <td class="text-center align-middle">
                    <% if (materia.obligatoria === true) { %>
                      <%= "Sí" %>
                    <% } else if (materia.obligatoria === false) { %>
                      <%= "No" %>
                    <% } %>
                  </td>
                  <td class="text-center align-middle">
                    <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                    style="
                      width: 1.5rem;
                      height: 1.5rem;
                      border-radius: 50%;
                      background-color: #84251c;
                      color: white;
                      border: none;
                    ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="d-flex justify-content-between">
        <h3 class="ms-5 text-decoration-underline ivd-text-red">9no Semestre</h3>
        <div class="d-flex align-items-center justify-content-end mx-5 mb-3 gap-3 flex-wrap">
          <div class="d-flex align-items-center flex-grow-1" style="max-width: 200px;">
            <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar salón" aria-label="Search"
                  style="background-image:url('/images/search.svg');
                          background-repeat:no-repeat;
                          background-position: 1rem center; 
                          padding-left: 3rem; 
                          font-size: 1rem;
                          width: 100%;
                          border: 1px solid #84251C;">
          </div>
          <button class="btn btn-primary d-flex align-items-center gap-2 rounded-pill px-3 py-2" 
          style="background-color: #84251C; border: none;"
          data-bs-toggle="modal"
          data-bs-target="#abrirMateriaModal"
          data-semestre="s9">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
            Abrir Materia
          </button>
        </div>
      </div>  
    
      <div class="table-responsive mx-5 mb-5 rounded-5 flex-grow-1" style="max-height: 200px; overflow: auto; background-color: white;">
        <table class="table table-hover" style="min-width: 800px; width: 100%;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Nombre</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">ID</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Créditos</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Horas profesor</th>
              <th scope="col" style="width: 35%; min-width: 150px;" class="text-center align-middle">Tipo de Salon</th>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">Obligatoria</th>
              <th scope="col" style="width: 5%; min-width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <% if (materias['s9']) { %>
              <% for (let materia of materias['s9']) { %>
                <tr>
                  <th scope="row" class="text-center align-middle"><%= materia.materia_id %></th>
                  <td class="text-center align-middle"><%= materia.nombre %></td>
                  <td class="text-center align-middle"><%= materia.creditos %></td>
                  <td class="text-center align-middle"><%= materia.horas_profesor %></td>
                  <td class="text-center align-middle"><%= materia.tipo_salon %></td>
                  <td class="text-center align-middle">
                    <% if (materia.obligatoria === true) { %>
                      <%= "Sí" %>
                    <% } else if (materia.obligatoria === false) { %>
                      <%= "No" %>
                    <% } %>
                  </td>
                  <td class="text-center align-middle">
                    <button class="btn btn-sm p-0 d-flex align-items-center justify-content-center" 
                    style="
                      width: 1.5rem;
                      height: 1.5rem;
                      border-radius: 50%;
                      background-color: #84251c;
                      color: white;
                      border: none;
                    ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</main>

<!-- Modal para abrir materias -->
<div class="modal fade" id="abrirMateriaModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content rounded-5" style="background-color: #f0f0f0; max-width: 95vw;">
      
      <!-- Encabezado del modal -->
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="scheduleModalLabel" style="color: #84251C;"><b>Estás Abriendo una Materia</b></h5>
      </div>
      
      <!-- Cuerpo del modal -->
      <div class="modal-body px-4">
        <div class="rounded-5 p-4" style="background-color: white;">

          <form id="scheduleForm" method="POST" action="/coordinador/materias/abrir">
            <h6 class="ms-1"><b>Materias</b></h6>
            <div style="border-bottom: 3px solid #84251C; width: 10rem; margin-top: -5px; margin-bottom: 10px;"></div> 
            
            <!-- Tabla de materias -->
            <div class="table-responsive" style="overflow: auto; background-color: white;">
              <table class="table table-hover" style="min-width: 800px; width: 100%;">
                <thead class="table-light">
                  <tr>
                    <th scope="col" style="width: 31%; min-width: 100px;" class="text-center align-middle">Nombre</th>
                    <th scope="col" style="width: 16%; min-width: 100px;" class="text-center align-middle">ID</th>
                    <th scope="col" style="width: 16%; min-width: 150px;" class="text-center align-middle">Tipo de Salón</th>
                    <th scope="col" style="width: 5%; min-width: 50px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let materia of todasLasMaterias) { %>
                  <tr>
                    <th scope="row" class="text-center align-middle"><%= materia.nombre %></th>
                    <td class="text-center align-middle"><%= materia.materia_id %></td>
                    <td class="text-center align-middle"><%= materia.tipo_salon %></td>
                    <td class="text-center align-middle">
                      <button type="button" class="btn btn-sm p-0 d-flex align-items-center justify-content-center abrir-materia-btn" 
                        style="width: 1.5rem; height: 1.5rem; border-radius: 50%; background-color: #84251c; color: white; border: none;"
                        data-materia-id="<%= materia.materia_id %>">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
      <!-- Pie del modal con botones de acción -->
      <div class="modal-footer justify-content-center" style="background-color: #f0f0f0;">
        <button type="button" class="btn btn-secondary rounded-pill px-4 mx-4" style="background-color: white; border: 1px solid #84251C; color: #84251C;" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" form="scheduleForm" class="btn btn-primary rounded-pill px-4 mx-4" style="background-color: #84251C; border: none;">Guardar</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/coordinador.js"></script>
  <% if (msg) { %>
    <script>
      // Solo cuando el html carga completamente
      document.addEventListener('DOMContentLoaded', () => {
        // Crea una instancia de nuevo modal
        var myModal = new bootstrap.Modal(document.getElementById('msgModal'));
        // Muestra el nuevo modal
        myModal.show();
      });
    </script>
  <% } %>
<script>
    document.querySelectorAll('[data-bs-toggle="modal"][data-semestre]').forEach(btn => {
        btn.addEventListener('click', function() {
            const semestreId = this.dataset.semestre.replace('s', ''); // Extract number
            document.getElementById('modalSemestreId').value = semestreId;
        });
    });

    const selectedMaterias = new Set();
    document.querySelectorAll('.abrir-materia-btn').forEach(btn => {
        btn.addEventListener('click', function() {
            const materiaId = this.dataset.materiaId;
            selectedMaterias.add(materiaId);
            this.classList.toggle('btn-primary');
            this.classList.toggle('btn-success');
            icon.innerHTML = `<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>`;
        });
    });
    
    document.getElementById('addMateriaForm').addEventListener('submit', function(e) {
        e.preventDefault();
        
        const formData = new FormData(this);
        const semestreId = formData.get('semestre_id');
        
        selectedMaterias.forEach(materiaId => {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'materias[]';
            input.value = materiaId;
            this.appendChild(input);
        });
        
        this.submit();
    });
</script>
</body>
</html>