<%- include('includes/_nav_alumno.ejs') %>

    <main class="bg-grey mx-4 mb-3 alumno-scroll" style="height: 85%; border-radius: 1.5rem;">
      <!-- header -->
      <div class="mt-4">
        <div class="d-flex align-items-end" style="border-bottom: 3px solid #84251C; width: fit-content; margin-top: -10px;">
          <h1 class="m-0 ms-4">Horario</h1>
          <p class="fs-5 m-0 ms-4 me-3 ivd-text-red">Semestre Agosto - Diciembre 2025</p>
        </div>
      </div>
      <!-- horario y grupos -->
      <div class="d-flex flex-column align-items-center pt-4 w-100">
        <p class="w-100 text-center mb-3">Materias presentadas en negro no pueden ser modificadas</p>
        <div class="rounded-5 mb-4" style="background-color: white; width: 70%; height: 30rem;">
        </div>
        <div class="d-flex justify-content-between mb-4" style="width: 40%;">
          <form action="">
            <button class="rounded-5 px-3 py-1 border ivd-border-red" 
                    style="background-color: white; font-size: 1.1rem;">
                    Cancelar
            </button>
          </form>
          <form action="">
            <button class="rounded-5 px-3 py-1 border-0 ivd-bg-red text-white" 
                    style="font-size: 1.1rem;">
                    Guardar
            </button>
          </form>
        </div>
        <div class="ivd-bg-red w-100" style="height: 2px; margin-left: 12px;"></div>
        <div class="w-100 d-flex align-items-center" style="height: 500px;">
          <div class="w-50 h-100 px-5 py-4 d-flex flex-column align-items-center">
            <p class="w-100 ms-3 fw-semibold" style="font-size: 1.2rem;">Materias Seleccionadas</p>
            <form class="d-flex" role="search" style="width: 100%;">
              <input class="form-control rounded-pill" type="search" 
                  placeholder="Buscar" aria-label="Search"
                  style="background-image:url('/images/search.svg'); color: black;
                  background-repeat:no-repeat;
                  background-position: 1rem center; 
                  padding-left: 3rem; font-size: 1rem;">
            </form>
            <% for (let materia_resultado of materias_resultado) { %>
              <div class="w-100 d-flex flex-column align-items-center rounded-5 mt-3" style="background-color: white;">
                <div class="d-flex my-2">
                  <p class="m-0 me-3"><%= materia_resultado.hora_inicio %> - <%= materia_resultado.hora_fin %></p>
                  <p class="m-0 ivd-text-red">(<%= materia_resultado.dias.join(', ') %>)</p>
                </div>
                <div class="ivd-bg-red w-100" style="height: 1px;"></div>
                <p class="fw-semibold my-3"><%= materia_resultado.materia_nombre %></p>
                <p class="mb-3">
                  <%= materia_resultado.salon_numero %> | 
                  <%= materia_resultado.profesor_nombre %> 
                  <%= materia_resultado.profesor_primer_apellido %>
                  <%= materia_resultado.profesor_segundo_apellido %>
                </p>
              </div>
            <% } %>
          </div>
          <div style="background-color:lightgrey; width: 3px; height: 80%;"></div>
          <div class="w-50 h-100 px-5 py-4 d-flex flex-column align-items-center">
            <p class="w-100 ms-3 fw-semibold" style="font-size: 1.2rem;">Materias Disponibles</p>
            <div class="w-100 d-flex justify-content-between">
              <div class="dropdown">
                <button class="btn border dropdown-toggle rounded-pill ivd-border-red" 
                        type="button" data-bs-toggle="dropdown" style="background-color: white;">
                    Semestre
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">1°ro</a></li>
                  <li><a class="dropdown-item" href="#">2°nd</a></li>
                  <li><a class="dropdown-item" href="#">3°ro</a></li>
                  <li><a class="dropdown-item" href="#">4°to</a></li>
                  <li><a class="dropdown-item" href="#">5°to</a></li>
                  <li><a class="dropdown-item" href="#">6°to</a></li>
                  <li><a class="dropdown-item" href="#">7°mo</a></li>
                  <li><a class="dropdown-item" href="#">8°vo</a></li>
                  <li><a class="dropdown-item" href="#">9°no</a></li>
                </ul>
              </div>
              <form class="d-flex" role="search" style="width: 70%;">
                <input class="form-control rounded-pill" type="search" 
                      placeholder="Buscar Materia" aria-label="Search"
                      style="background-image:url('/images/search.svg'); color: black;
                      background-repeat:no-repeat;
                      background-position: 1rem center; 
                      padding-left: 3rem; font-size: 1rem;">
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>